{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.material.form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/material-font.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type = "text/css"/>
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet" type = "text/css"/>
</head>
<body>
<div class="container"> 
    <center><h1>LOGIN</h1></center>
<form action="/login/" id="login_form" method="post" class="material"> {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password"> <br>
    <center><H3>Random OTP: {{ random_number }}</H3></center> <br>
    <input type="text" name="user_otp" placeholder="OTP"><br><br>
    <center><button type="submit" name="_submit" class="btn">Submit</button></center>
</form>
</div>

<script type="text/javascript" src="{% static 'js/jquery-2.0.3.min.js' %}"></script> <!-- JQUERY -->
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script> <!-- JQUERY VALIDATOR (additional) -->
<script type="text/javascript" src="{% static 'js/jquery.material.form.js' %}"></script> <!-- JQUERY MATERIAL FORM PLUGIN -->

<script type="text/javascript">
    $(function(){
        $('form.material').materialForm(); // Apply material
        $('form').validate({ 
            errorPlacement: function(error, element) {}
        }); // Apply validator with no error messages but classes only
    });
</script>

</body>
</html>